@import 'tailwindcss';

button, 
[type="button"], 
[type="submit"], 
[type="reset"], 
input[type="button"] {
    cursor: pointer;
}

main{
  font-family: var(--font-inter);
}

@theme {
  --color-mega-light: #8242D2;
  --color-mega-dark: #43226C;
  --color-gray-border: #E5E7EB;
  --color-gray-main: #CCCCCC;
}
@theme {
  --font-inter: "Inter", sans-serif; 
}